html
	head
		title Mastermind
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="stylesheets/master.css")

	body

		//- Generated with JS for the options
		#mastermind
			#board_wrapper
				#board
					#slots_wrapper
						#slots
							.slot
								.piece
								.piece
								.piece
								.piece
							.slot
								.piece
								.piece
								.piece
								.piece
							.slot
								.piece
								.piece
								.piece
								.piece
							.slot
								.piece
								.piece
								.piece
								.piece
							.slot
								.piece
								.piece
								.piece
								.piece
							.slot
								.piece
								.piece
								.piece
								.piece
					#pegs_wrapper
						#pegs
							.pegs
								.peg
								.peg
								.peg
								.peg
							.pegs
								.peg
								.peg
								.peg
								.peg
							.pegs
								.peg
								.peg
								.peg
								.peg
							.pegs
								.peg
								.peg
								.peg
								.peg
							.pegs
								.peg
								.peg
								.peg
								.peg
							.pegs
								.peg
								.peg
								.peg
								.peg
			#inputs_wrapper
				#inputs
					.input
					.input
					.input
					.input
					.input
					.input
			#submit-wrapper
				input#submit(type="button" value="Submit")

		script(src="scripts/constants.js")
		script(src="scripts/logic.js")
		script(src="scripts/ui.js")
		script(src="scripts/controls.js")