//
// Colors
//

$color-white: #fff;
$color-background: darken(#fff, 1);
$color-light-shadow: rgba(darken(#fff, 50), 0.4);
$color-dark-shadow: rgba(darken(#fff, 50), 0.8);
$color-blank: darken(#fff, 8);
$color-gray: darken(#fff, 60);
$color-black: darken(#fff, 90);

//
// Base 
//

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	background: $color-background;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding: 2rem;

	> main {
		margin: auto;
		height: 100%; // for the game wrapper
	}
}

#game_wrapper {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	#mastermind_wrapper {
		margin-right: 4rem;
	}

	@media screen and (max-width: 800px) {
		width: 100%;
		display: block;
		#mastermind_wrapper {
			margin: auto;
		}
	}
}

//
// Board
//

#mastermind {
	$spacing: 10px;
	$tile: 50px;
	$animation-speed: 0.4s;
	$pop-animation: pop $animation-speed cubic-bezier(.25,.5,.5,1.4);

	display: flex;
	flex-direction: column;

	#code_wrapper,
	#board_wrapper,
	#inputs_wrapper {
		margin-bottom: $spacing;
	}
	#slots_wrapper {
		margin-right: $spacing;
	}

	#board,
	#inputs,
	#code_slot,
	.pegs,
	.slot {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	#inputs,
	#code_slot {
		justify-content: space-between;
	}

	.input,
	.piece,
	.code_piece {
		width: $tile;
		height: $tile;
		background: $color-blank;
	}

	.piece,
	.code_piece {
		transition: all ($animation-speed/2);
	}

	.piece.active { transform: scale(0.8); }
	.code_piece.active { animation: $pop-animation; }

	.pegs {
		height: $tile;
	}

	.peg {
		width: ($tile/2);
		height: ($tile/2);
		border-radius: ($tile/2);
		margin-right: ($spacing/2);
		background: $color-blank;
		&:last-child { margin-right: 0; }
		&.black,
		&.white {
			animation: $pop-animation;
			// border: 2px solid $color-black;
			box-shadow: 0 ($tile/16) ($tile/8) $color-dark-shadow;
		}
		&.black { background: $color-black; }
		&.white { background: $color-white;	}
	}

	#submit {
		width: 100%;
		height: $tile;
		border: none;
		padding: 0;
		margin: 0;
		background: $color-blank;
	}

	.input,
	#submit {
		transition: all ($animation-speed/2);
		z-index: 0;
		&:hover {
			z-index: 1;
			transform: scale(1.1);
			box-shadow: 0 ($tile/16) ($tile/4) $color-light-shadow;
		}
	}

	@keyframes pop {
		from { transform: scale(0); }
		to { transform: scale(1); }
	}
}

//
// Sidebar styling (couldnt come up with a better description)
//

#sidebar {
	width: 100%;
	font-family: sans-serif;
	color: $color-black;

	h1 {
		text-transform: uppercase;
		font-weight: lighter;
		letter-spacing: 4px;
		small {
			text-transform: initial;
			letter-spacing: initial;
			font-size: 0.5em;
			color: $color-gray;
		}
	}

	h2 {
		text-transform: uppercase;
		font-size: 1rem;
	}

	section { margin-bottom: 1rem; }

	.option {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 0.5rem;

		> * {
			margin: 0;
			flex: 1 1 50%;
		}

		input[type="checkbox"] {
			display: none;

			& + label::after {
				display: inline;
				content: 'Nope';
			}
			&:checked + label::after {
				display: inline;
				content: 'Yup';
			}
		}
	}
}