* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fcfcfc; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 2rem; }
  body > main {
    margin: auto;
    height: 100%; }

#game_wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #game_wrapper #mastermind_wrapper {
    margin-right: 4rem; }
  @media screen and (max-width: 800px) {
    #game_wrapper {
      width: 100%;
      display: block; }
      #game_wrapper #mastermind_wrapper {
        margin: auto; } }

#mastermind {
  display: flex;
  flex-direction: column; }
  #mastermind #code_wrapper,
  #mastermind #board_wrapper,
  #mastermind #inputs_wrapper {
    margin-bottom: 10px; }
  #mastermind #slots_wrapper {
    margin-right: 10px; }
  #mastermind #board,
  #mastermind #inputs,
  #mastermind #code_slot,
  #mastermind .pegs,
  #mastermind .slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  #mastermind #inputs,
  #mastermind #code_slot {
    justify-content: space-between; }
  #mastermind .input,
  #mastermind .piece,
  #mastermind .code_piece {
    width: 50px;
    height: 50px;
    background: #ebebeb; }
  #mastermind .piece,
  #mastermind .code_piece {
    transition: all 0.2s; }
  #mastermind .piece.active {
    transform: scale(0.8); }
  #mastermind .code_piece.active {
    animation: pop 0.4s cubic-bezier(0.25, 0.5, 0.5, 1.4); }
  #mastermind .pegs {
    height: 50px; }
  #mastermind .peg {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-right: 5px;
    background: #ebebeb; }
    #mastermind .peg:last-child {
      margin-right: 0; }
    #mastermind .peg.black, #mastermind .peg.white {
      animation: pop 0.4s cubic-bezier(0.25, 0.5, 0.5, 1.4);
      box-shadow: 0 3.125px 6.25px rgba(128, 128, 128, 0.8); }
    #mastermind .peg.black {
      background: #1a1a1a; }
    #mastermind .peg.white {
      background: #fff; }
  #mastermind #submit {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0;
    background: #ebebeb; }
  #mastermind .input,
  #mastermind #submit {
    transition: all 0.2s;
    z-index: 0; }
    #mastermind .input:hover,
    #mastermind #submit:hover {
      z-index: 1;
      transform: scale(1.1);
      box-shadow: 0 3.125px 12.5px rgba(128, 128, 128, 0.4); }

@keyframes pop {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

#sidebar {
  width: 100%;
  font-family: sans-serif;
  color: #1a1a1a; }
  #sidebar h1 {
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px; }
    #sidebar h1 small {
      text-transform: initial;
      letter-spacing: initial;
      font-size: 0.5em;
      color: #666666; }
  #sidebar h2 {
    text-transform: uppercase;
    font-size: 1rem; }
  #sidebar section {
    margin-bottom: 1rem; }
  #sidebar .option {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem; }
    #sidebar .option > * {
      margin: 0;
      flex: 1 1 50%; }
    #sidebar .option input[type="checkbox"] {
      display: none; }
      #sidebar .option input[type="checkbox"] + label::after {
        display: inline;
        content: 'Nope'; }
      #sidebar .option input[type="checkbox"]:checked + label::after {
        display: inline;
        content: 'Yup'; }
